:root {
  --size-relativity: 62.5%;
  // colors
  --indian-red: #cd5c5c;
  --light-grey: #f2f0f0;
  --black: #000;
  --white: #fff;
  --grey: #898989;
  // vars
  --color-primary: var(--indian-red);
  --foreground-color: var(--black);
  --background-color: var(--light-grey);
  --edge-spacing: 2rem;
  --margin-spacing: 2rem;
  --big-container: 1600px;
  --small-container: 800px;
  // fonts
  --h1-sizing: 8rem;
  --h2-sizing: 4rem;
  --h3-sizing: 3.2rem;
  --h4-sizing: 2.8rem;
  --h5-sizing: 2.2rem;
  --p-sizing: 1.8rem;
  --sm-sizing: 1.4rem;
}

@media screen and (max-width: 768px) {
  :root {
    --size-relativity: 40%;
    --h1-sizing: 4.4rem;
    --p-sizing: 2.8rem;
    --sm-sizing: 2rem;
    --margin-spacing: 4rem;
  }
}

// ========================================
// Colors
// ========================================
$black: #000000;
$white: #ffffff;

$primary: indianred;

// ========================================
// Screen sizes
// ========================================
$mobile: 480px;
$tablet: 769px;
$desktop: 1000px;
$fullhd: 1384px;

$headerHeight: 80px;
